.product {
  width: 30%;
  height: 40vh;
  margin: 20px 10px;
  border: 2px solid red;
  border-radius: 5px 50px 5px 50px;
  overflow: hidden;
}

.product-browser {
  height: 25px;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
}

.product-circle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 3px;
  background-color: white;
}